* {
    margin: 0;
    padding: 0;
}

header {
    padding: 30px;
}

main {
    width: calc(75% - 60px);
    float: left;
    padding: 30px;
}

aside {
    width: calc(25% - 60px);
    float: left;
    border-left: none;
    padding: 30px;
}

footer {
    clear: both;
    padding: 30px;
    text-align: center;
}

h2 {
    padding: 0.8em;
    padding-left: 0;
}

.video {
    height: 400px;
    width: 100%;
    margin-left: 0;
}